@use '../../../../styles/shared/colors' as color;

input {
  padding: 8px;
  width: 100%;
  background-color: color.$background-color;
  border: 1px solid color.$grey;
  box-sizing: border-box;
  border-radius: 6px;
  color: color.$primary-light;
}

// Убираем стрелочки + - 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}