@use './../../../styles/shared/colors' as color;

$tr-height: 60px;
$td-padding-left: 12px;

tr {
  height: $tr-height;
  border-bottom: 1px solid color.$grey;
}
td {
  padding-left: $td-padding-left;
}

.table-row {
  &:hover :not([data-cell='icons']) {
    cursor: pointer;
  }
}
