@use './../../../styles/shared/colors' as color;
@use './../../../styles/shared/dimensions' as dm;

.subheader_left-block {
  display: flex;
  padding-left: dm.$left-navbar-padding-left;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: dm.$left-navbar-width;
  box-sizing: border-box;

  background-color: color.$background-color-light;
  border-right: 1px solid color.$grey;
}

.subheader_left-block__header {
  color: color.$primary-light;
  font-size: 14px;
  line-height: 16px;
}
.subheader_left-block__subheader {
  color: color.$primary-light;
  font-size: 10px;
  line-height: 12px;
}
.subheader_left-block__icon {
  margin-right: 13px;
  font-size: 8px;
}