@use '../../../../styles/shared/colors' as color;


.icons_cell {
  position: relative;
  vertical-align: middle;
}

.icon-button {
  position: relative;
  display: inline-block;
  margin-inline: 3px;
  padding: 0;
  border: 0;

  z-index: 100;
  background-color: transparent;
  &:disabled {
    filter: saturate(30%);
  }
  &:hover:not(:disabled) {
    cursor: pointer;
    filter: saturate(150%);
  }
}

.line {
  position: absolute;
  z-index: 1;
  background-color: color.$primary-light;

  &.horizontal {
    bottom: 7px;
    left: -12px;
    width: 12px;
    height: 1px;
  }
  &.up_to_parent {
    bottom: 8px;
    left: -12px;
    width: 1px;
    height: 40px;
  }
  &.between_siblings {
    bottom: -20px;
    left: -12px;
    width: 1px;
    height: 30px;
  }
  &.down_to_child {
    bottom: -20px;
    left: 8px;
    width: 1px;
    height: 20px;
  }
  &.between_upper_siblings {
    bottom: -50px;
    left: -32px;
    width: 1px;
    height: 120px;
  }
}


// РАСШИРЕННЫЕ ИКОНКИ
.icon-extended {
  & .icon {
    margin-left: 7px;
  }
}

.icons-area {
  display: inline-block;
  align-self: center;
  position: inherit;
  padding: 6px;
  padding-right: -1px;
  margin-left: -6px;
  border-radius: 6px;

  & .icon-extended {
    visibility: hidden;
    opacity: 0;
    transition-delay: opacity 0.5s;
    transition: visibility 0s, opacity 0.5s ease-out;
  }

  &:hover {
    background-color: color.$grey;
    transition: background-color 0.2s;
    .icon-extended {
      display: inherit;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.5s ease-out;
    }
  }
}
